.content {
    text-align: center;
    padding: 30px;
    margin: 0px auto;
}

.details {
    margin-left: auto;
    margin-right: auto;
}

img {
    border-radius: 5px;
    box-shadow: black;
}

table,
td {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.user-box {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

.user-box img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 15px;
}